h1 {

color: blue;
font-stretch: wider;



}

button {

    height:50px ;
    width: 100px;
}

.container {

    display: grid;




}

LABEL{

color:gray;

}
Radio {

    border-style: solid;
}

div {

   
color:black;
display: inline;
font-size: 26px;
align-content: center;


}


p{

    display:inline;
    font-size: 32px;
    font-style: oblique;
    color:black;
    font-style: bold;
    
}

radio {


    display:inline;
    align-content: center;
}




.content {

text-align: right;

}

div{


    border-style: black;
}


.button {
    background-color:blue;
    border: 11;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  body {

background-image: url("../pic.jpg");



  }