h1 {
    color:blue;
    text-shadow: 12px 12px 15px blue;
    font-size: 56px;
}    
.blurText {
    text-shadow: 12px 12px 15px blue;
    font-size: 32px;
}
button {
    height:50px ;
    width: 100px;
}
select {
    height:50px ;
    width: 100px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: block style 12;
}
.button:hover ,select:hover,p:hover {
    background-color:gray;
    color:blue; 
}
.container {
    display: grid;
}
LABEL {
    color:gray;
}
.Radio {
    border-style: solid;
}

div {
    color:blue;
    display: inline;
    font-size: 26px;
    align-content: center;
}
p {
    display:inline;
    font-size: 32px;
    font-style: oblique;
    color:white;
    font-style: bold; 
}
radio {
    display:inline;
    align-content: center;
}
.content {
    text-align: right;
}
div {
    border-style: black;
}
.button {
    background-color:blue;
    border: 11;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
body {
    background-image: url("../pic.jpg");
}
h1,h2 {
    text-align: center;
  }

  